<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Module config
 * (related to system.xml)
 *
 * @category  Smile
 * @package   Smile\ContactUs
 * @author    Yaroslav Velychko <lijkbezorger@gmail.com>
 * @copyright 2018 Yaroslav Velychko
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <contact_us>
            <general>
                <default_request_status>0</default_request_status>
            </general>
        </contact_us>
    </default>
</config>